if isForwards
  .ticket-list-alternatives-container
    h2.ticket-list-title
      = translations.alternativeTicketsTitle
    div(class="ticket-list-alternatives-sub-container ticket-list-alternatives-from-container")
      h3.ticket-list-alternatives-route 
        = cityFrom + " - " + cityTo
      .tickets
        each flightsDataArr, i in flightsData
          .tickets-item
            strong.tickets-item-date 
              = flightsDataArr[0]
            .tickets-item-list
              each data, j in flightsDataArr[1]
                .ticket(data-id=`${data.id}` data-start-date=`${data.dates.departurePure}` data-end-date=`${data.dates.returnPure}` data-origin-id=`${data.cities.from.id}` data-destination-id=`${data.cities.to.id}`)
                  .ticket-inner
                    .ticket-icon
                      i.fas.fa-bus
                    .ticket-details
                      h2.ticket-title
                        = data.dates.departure
                      .ticket-flight-info
                        .ticket-origin
                          svg(viewbox='0 0 384 512' xmlns='http://www.w3.org/2000/svg')
                            path(d='M192 0C85.97 0 0 85.97 0 192c0 77.41 26.97 99.03 172.3 309.7c9.531 13.77 29.91 13.77 39.44 0C357 291 384 269.4 384 192C384 85.97 298 0 192 0zM192 271.1c-44.13 0-80-35.88-80-80S147.9 111.1 192 111.1s80 35.88 80 80S236.1 271.1 192 271.1z')
                          p.ticket-subtitle
                            span
                              = translations.fromText + ": " 
                            span
                              = data.cities.from.name
                        .flight-select__flight-info__icons
                          svg.svg-icon.svg-fill.icon.icon__big-arrow.icon__big-arrow(viewbox='0 0 226 12')
                            path(pid='0' fill='#999' d='m225.9 5.71-3.15-5.4a.57.57 0 0 0-.9-.15c-.31.15-.46.6-.16.75l2.71 4.5H.6A.65.65 0 0 0 0 6a.65.65 0 0 0 .6.6h223.65l-2.7 4.49c-.15.3-.15.6.15.75.15 0 .15.15.3.15a1.14 1.14 0 0 0 .6-.3l3.15-5.39a.37.37 0 0 0 .15-.6z')
                          svg.svg-icon.svg-fill.icon.icon__plane.icon__plane(version='1.1' viewbox='0 0 512 512')
                            g
                              path.st0(d='M436.3,125H99.9c-23,0-42.6,16.6-46.5,39.2L29.2,305.7c-4.9,28.8,17.3,55.1,46.5,55.1h17.8   c0-22.2,18-40.2,40.2-40.2c22.2,0,40.2,18,40.2,40.2h164.3c0-22.2,18-40.2,40.2-40.2c22.2,0,40.2,18,40.2,40.2h17.8   c26.1,0,47.2-21.1,47.2-47.2V172.2C483.5,146.1,462.4,125,436.3,125z M380.7,178.1c0-7,5.6-12.6,12.6-12.6h29.2   c7,0,12.6,5.7,12.6,12.6v62.9c0,7-5.7,12.6-12.6,12.6h-29.2c-7,0-12.6-5.7-12.6-12.6V178.1z M294.5,178.1c0-7,5.6-12.6,12.6-12.6   h29.2c7,0,12.6,5.7,12.6,12.6v62.9c0,7-5.7,12.6-12.6,12.6h-29.2c-7,0-12.6-5.7-12.6-12.6V178.1z M208.4,178.1   c0-7,5.7-12.6,12.6-12.6h29.2c7,0,12.6,5.7,12.6,12.6v62.9c0,7-5.7,12.6-12.6,12.6H221c-7,0-12.6-5.7-12.6-12.6V178.1z    M155.9,277.7c-2.9,17.2-19.1,29.9-38.1,29.9H75.7c-2.6,0-4.2-1.2-5.2-2.2c-0.9-1-1.9-2.7-1.5-5l24.3-129.8c0.6-3,3.4-5.2,6.6-5.2   h75.2L155.9,277.7z M435.2,301.6H208.4c-3.9,0-7-3.1-7-7c0-3.9,3.1-7,7-7h226.8c3.9,0,7,3.1,7,7C442.2,298.4,439,301.6,435.2,301.6   z')
                              path.st0(d='M133.7,334.6c-14.5,0-26.2,11.7-26.2,26.2s11.7,26.2,26.2,26.2c14.5,0,26.2-11.7,26.2-26.2   S148.1,334.6,133.7,334.6z')
                              path.st0(d='M378.3,334.6c-14.5,0-26.2,11.7-26.2,26.2s11.7,26.2,26.2,26.2c14.5,0,26.2-11.7,26.2-26.2   S392.8,334.6,378.3,334.6z')
                        .ticket-destination
                          svg(viewbox="0 0 576 512" xmlns="http://www.w3.org/2000/svg")
                            path(d="M288 0C221.7 0 168 53.73 168 120c0 48.38 16.86 61.9 107.7 193.5c5.957 8.604 18.69 8.604 24.65 0C391.1 181.9 408 168.4 408 120C408 53.73 354.3 0 288 0zM288 176C261.5 176 240 154.5 240 128S261.5 80 288 80c26.48 0 48 21.53 48 48S314.5 176 288 176zM10.06 227.6C3.984 230 0 235.9 0 242.4v253.5c0 11.32 11.49 19.04 22 14.84L160 448V201.4C152.5 188.8 147.2 178 143.4 167.5L10.06 227.6zM326.6 331.8C317.9 344.4 303.4 352 288 352c-15.42 0-29.86-7.566-38.66-20.28C233.2 308.3 196.9 256.6 192 249.6V447.1L384 512V249.6C379.1 256.6 342.8 308.3 326.6 331.8zM554.1 161.2L416 224v288l149.9-67.59C572 441.1 576 436.1 576 429.6V176C576 164.7 564.6 156.1 554.1 161.2z")
                          p.ticket-subtitle
                            span
                              = translations.toText + ": "
                            span
                              = data.cities.to.name
                    .ticket-price
                      svg#Icons(style="enable-background:new 0 0 32 32;" version="1.1" viewbox="0 0 32 32" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                        path(d="M29.5,13.4c0.3-0.2,0.5-0.5,0.5-0.9V10c0-1.1-0.9-2-2-2h-6.3c-0.4,0-0.7,0.2-0.9,0.5c-0.4,0.6-1.3,0.6-1.7,0  C19,8.2,18.6,8,18.3,8H4c-1.1,0-2,0.9-2,2v2.6c0,0.4,0.2,0.7,0.5,0.9C3.4,14,4,14.9,4,16s-0.6,2-1.5,2.6C2.2,18.8,2,19.1,2,19.4V22  c0,1.1,0.9,2,2,2h14.3c0.4,0,0.7-0.2,0.9-0.5c0.4-0.6,1.3-0.6,1.7,0c0.2,0.3,0.5,0.5,0.9,0.5H28c1.1,0,2-0.9,2-2v-2.6  c0-0.4-0.2-0.7-0.5-0.9C28.6,18,28,17.1,28,16S28.6,14,29.5,13.4z M12,19.9L12,19.9c0,0.6-0.4,1.1-1,1.1s-1-0.4-1-1  c-0.6,0-1-0.4-1-1s0.4-1,1-1h1.5c0.3,0,0.5-0.2,0.5-0.5S11.8,17,11.5,17h-1C9.1,17,8,15.9,8,14.5c0-1.2,0.9-2.2,2-2.4V12  c0-0.6,0.4-1,1-1s1,0.4,1,1c0.6,0,1,0.4,1,1s-0.4,1-1,1h-1.5c-0.3,0-0.5,0.2-0.5,0.5s0.2,0.5,0.5,0.5h1c1.4,0,2.5,1.1,2.5,2.5  C14,18.7,13.1,19.7,12,19.9z M21,19c0,0.6-0.4,1-1,1s-1-0.4-1-1v-1c0-0.6,0.4-1,1-1s1,0.4,1,1V19z M21,14c0,0.6-0.4,1-1,1  s-1-0.4-1-1v-1c0-0.6,0.4-1,1-1s1,0.4,1,1V14z")
                      span.ticket-price-text 
                        = translations.priceText + ": "
                      p.ticket-current-price
                        = data.price
                    .ticket-button
                      button.base-button.base-button--primary.ticket-select-button
                        span
                          = translations.buttonSelectText
                        .checkmark-wrapper
                          svg.checkmark(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 52 52")
                            circle.checkmark__circle(cx="26" cy="26" r="25" fill="none")
                            path.checkmark__check(fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8")
                  .ticket-additional-info
                    .ticket-additional-info-inner
                      if data.dates.return
                        p.ticket-additional-info-title
                            = translations.destinationText + " - " + data.dates.departure  + ": "
                      .ticket-additional-info-curriculum
                        div
                          .ticket-place
                            svg(viewbox="0 0 512 512" xmlns="http://www.w3.org/2000/svg")
                              path(d="M64 496C64 504.8 56.75 512 48 512h-32C7.25 512 0 504.8 0 496V32c0-17.75 14.25-32 32-32s32 14.25 32 32V496zM476.3 0c-6.365 0-13.01 1.35-19.34 4.233c-45.69 20.86-79.56 27.94-107.8 27.94c-59.96 0-94.81-31.86-163.9-31.87C160.9 .3055 131.6 4.867 96 15.75v350.5c32-9.984 59.87-14.1 84.85-14.1c73.63 0 124.9 31.78 198.6 31.78c31.91 0 68.02-5.971 111.1-23.09C504.1 355.9 512 344.4 512 332.1V30.73C512 11.1 495.3 0 476.3 0z")
                            p
                              = translations.onboardingText + ": " + data.places.from.onBoardingPlace
                          .ticket-place
                            svg(viewbox="0 0 512 512" xmlns="http://www.w3.org/2000/svg")
                              path(d="M64 496C64 504.8 56.75 512 48 512h-32C7.25 512 0 504.8 0 496V32c0-17.75 14.25-32 32-32s32 14.25 32 32V496zM476.3 0c-6.365 0-13.01 1.35-19.34 4.233c-45.69 20.86-79.56 27.94-107.8 27.94c-59.96 0-94.81-31.86-163.9-31.87C160.9 .3055 131.6 4.867 96 15.75v350.5c32-9.984 59.87-14.1 84.85-14.1c73.63 0 124.9 31.78 198.6 31.78c31.91 0 68.02-5.971 111.1-23.09C504.1 355.9 512 344.4 512 332.1V30.73C512 11.1 495.3 0 476.3 0z")
                            p
                              = translations.outboardingText + ": " + data.places.from.outBoardingPlace
                        div
                          .ticket-time
                            svg(height="512" viewbox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg")
                              path(d="M256,48C141.13,48,48,141.13,48,256s93.13,208,208,208,208-93.13,208-208S370.87,48,256,48Zm96,240H256a16,16,0,0,1-16-16V128a16,16,0,0,1,32,0V256h80a16,16,0,0,1,0,32Z")
                            p
                              = translations.departureTimeText + ": " + data.places.from.onBoardingTime
                          .ticket-time
                            svg(height="512" viewbox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg")
                              path(d="M256,48C141.13,48,48,141.13,48,256s93.13,208,208,208,208-93.13,208-208S370.87,48,256,48Zm96,240H256a16,16,0,0,1-16-16V128a16,16,0,0,1,32,0V256h80a16,16,0,0,1,0,32Z")
                            p
                              = translations.arrivalTimeText + "**: " + data.places.from.outBoardingTime + "*"
                    .ticket-additional-info-inner.footnote
                      div
                        div
                          p
                            = "* - " + translations.additionalText + "."
                        div
                          p
                            = "** - " + translations.additionalText2 + "."
                  span.ticket-open-arrow
                    svg(height="512px" style="enable-background:new 0 0 512 512;" version="1.1" viewbox="0 0 512 512" width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                      path(d="M98.9,184.7l1.8,2.1l136,156.5c4.6,5.3,11.5,8.6,19.2,8.6c7.7,0,14.6-3.4,19.2-8.6L411,187.1l2.3-2.6  c1.7-2.5,2.7-5.5,2.7-8.7c0-8.7-7.4-15.8-16.6-15.8v0H112.6v0c-9.2,0-16.6,7.1-16.6,15.8C96,179.1,97.1,182.2,98.9,184.7z")
if !isForwards
  div(class="ticket-list-alternatives-sub-container ticket-list-alternatives-to-container")
    h3.ticket-list-alternatives-route 
      = cityFrom + " - " + cityTo
    .tickets
      each flightsDataArr, i in flightsData
        .tickets-item
          strong.tickets-item-date 
            = flightsDataArr[0]
          .tickets-item-list
            each data, j in flightsDataArr[1]
              .ticket(data-id=`${data.id}` data-start-date=`${data.dates.departurePure}` data-end-date=`${data.dates.returnPure}` data-origin-id=`${data.cities.from.id}` data-destination-id=`${data.cities.to.id}`)
                .ticket-inner
                  .ticket-icon
                    i.fas.fa-bus
                  .ticket-details
                    h2.ticket-title
                      = data.dates.departure
                    .ticket-flight-info
                      .ticket-origin
                        svg(viewbox='0 0 384 512' xmlns='http://www.w3.org/2000/svg')
                          path(d='M192 0C85.97 0 0 85.97 0 192c0 77.41 26.97 99.03 172.3 309.7c9.531 13.77 29.91 13.77 39.44 0C357 291 384 269.4 384 192C384 85.97 298 0 192 0zM192 271.1c-44.13 0-80-35.88-80-80S147.9 111.1 192 111.1s80 35.88 80 80S236.1 271.1 192 271.1z')
                        p.ticket-subtitle
                          span
                            = translations.fromText + ": " 
                          span
                            = data.cities.from.name
                      .flight-select__flight-info__icons
                        svg.svg-icon.svg-fill.icon.icon__big-arrow.icon__big-arrow(viewbox='0 0 226 12')
                          path(pid='0' fill='#999' d='m225.9 5.71-3.15-5.4a.57.57 0 0 0-.9-.15c-.31.15-.46.6-.16.75l2.71 4.5H.6A.65.65 0 0 0 0 6a.65.65 0 0 0 .6.6h223.65l-2.7 4.49c-.15.3-.15.6.15.75.15 0 .15.15.3.15a1.14 1.14 0 0 0 .6-.3l3.15-5.39a.37.37 0 0 0 .15-.6z')
                        svg.svg-icon.svg-fill.icon.icon__plane.icon__plane(version='1.1' viewbox='0 0 512 512')
                          g
                            path.st0(d='M436.3,125H99.9c-23,0-42.6,16.6-46.5,39.2L29.2,305.7c-4.9,28.8,17.3,55.1,46.5,55.1h17.8   c0-22.2,18-40.2,40.2-40.2c22.2,0,40.2,18,40.2,40.2h164.3c0-22.2,18-40.2,40.2-40.2c22.2,0,40.2,18,40.2,40.2h17.8   c26.1,0,47.2-21.1,47.2-47.2V172.2C483.5,146.1,462.4,125,436.3,125z M380.7,178.1c0-7,5.6-12.6,12.6-12.6h29.2   c7,0,12.6,5.7,12.6,12.6v62.9c0,7-5.7,12.6-12.6,12.6h-29.2c-7,0-12.6-5.7-12.6-12.6V178.1z M294.5,178.1c0-7,5.6-12.6,12.6-12.6   h29.2c7,0,12.6,5.7,12.6,12.6v62.9c0,7-5.7,12.6-12.6,12.6h-29.2c-7,0-12.6-5.7-12.6-12.6V178.1z M208.4,178.1   c0-7,5.7-12.6,12.6-12.6h29.2c7,0,12.6,5.7,12.6,12.6v62.9c0,7-5.7,12.6-12.6,12.6H221c-7,0-12.6-5.7-12.6-12.6V178.1z    M155.9,277.7c-2.9,17.2-19.1,29.9-38.1,29.9H75.7c-2.6,0-4.2-1.2-5.2-2.2c-0.9-1-1.9-2.7-1.5-5l24.3-129.8c0.6-3,3.4-5.2,6.6-5.2   h75.2L155.9,277.7z M435.2,301.6H208.4c-3.9,0-7-3.1-7-7c0-3.9,3.1-7,7-7h226.8c3.9,0,7,3.1,7,7C442.2,298.4,439,301.6,435.2,301.6   z')
                            path.st0(d='M133.7,334.6c-14.5,0-26.2,11.7-26.2,26.2s11.7,26.2,26.2,26.2c14.5,0,26.2-11.7,26.2-26.2   S148.1,334.6,133.7,334.6z')
                            path.st0(d='M378.3,334.6c-14.5,0-26.2,11.7-26.2,26.2s11.7,26.2,26.2,26.2c14.5,0,26.2-11.7,26.2-26.2   S392.8,334.6,378.3,334.6z')
                      .ticket-destination
                        svg(viewbox="0 0 576 512" xmlns="http://www.w3.org/2000/svg")
                          path(d="M288 0C221.7 0 168 53.73 168 120c0 48.38 16.86 61.9 107.7 193.5c5.957 8.604 18.69 8.604 24.65 0C391.1 181.9 408 168.4 408 120C408 53.73 354.3 0 288 0zM288 176C261.5 176 240 154.5 240 128S261.5 80 288 80c26.48 0 48 21.53 48 48S314.5 176 288 176zM10.06 227.6C3.984 230 0 235.9 0 242.4v253.5c0 11.32 11.49 19.04 22 14.84L160 448V201.4C152.5 188.8 147.2 178 143.4 167.5L10.06 227.6zM326.6 331.8C317.9 344.4 303.4 352 288 352c-15.42 0-29.86-7.566-38.66-20.28C233.2 308.3 196.9 256.6 192 249.6V447.1L384 512V249.6C379.1 256.6 342.8 308.3 326.6 331.8zM554.1 161.2L416 224v288l149.9-67.59C572 441.1 576 436.1 576 429.6V176C576 164.7 564.6 156.1 554.1 161.2z")
                        p.ticket-subtitle
                          span
                            = translations.toText + ": "
                          span
                            = data.cities.to.name
                  .ticket-price
                    svg#Icons(style="enable-background:new 0 0 32 32;" version="1.1" viewbox="0 0 32 32" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                      path(d="M29.5,13.4c0.3-0.2,0.5-0.5,0.5-0.9V10c0-1.1-0.9-2-2-2h-6.3c-0.4,0-0.7,0.2-0.9,0.5c-0.4,0.6-1.3,0.6-1.7,0  C19,8.2,18.6,8,18.3,8H4c-1.1,0-2,0.9-2,2v2.6c0,0.4,0.2,0.7,0.5,0.9C3.4,14,4,14.9,4,16s-0.6,2-1.5,2.6C2.2,18.8,2,19.1,2,19.4V22  c0,1.1,0.9,2,2,2h14.3c0.4,0,0.7-0.2,0.9-0.5c0.4-0.6,1.3-0.6,1.7,0c0.2,0.3,0.5,0.5,0.9,0.5H28c1.1,0,2-0.9,2-2v-2.6  c0-0.4-0.2-0.7-0.5-0.9C28.6,18,28,17.1,28,16S28.6,14,29.5,13.4z M12,19.9L12,19.9c0,0.6-0.4,1.1-1,1.1s-1-0.4-1-1  c-0.6,0-1-0.4-1-1s0.4-1,1-1h1.5c0.3,0,0.5-0.2,0.5-0.5S11.8,17,11.5,17h-1C9.1,17,8,15.9,8,14.5c0-1.2,0.9-2.2,2-2.4V12  c0-0.6,0.4-1,1-1s1,0.4,1,1c0.6,0,1,0.4,1,1s-0.4,1-1,1h-1.5c-0.3,0-0.5,0.2-0.5,0.5s0.2,0.5,0.5,0.5h1c1.4,0,2.5,1.1,2.5,2.5  C14,18.7,13.1,19.7,12,19.9z M21,19c0,0.6-0.4,1-1,1s-1-0.4-1-1v-1c0-0.6,0.4-1,1-1s1,0.4,1,1V19z M21,14c0,0.6-0.4,1-1,1  s-1-0.4-1-1v-1c0-0.6,0.4-1,1-1s1,0.4,1,1V14z")
                    span.ticket-price-text 
                      = translations.priceText + ": "
                    p.ticket-current-price
                      = data.price
                  .ticket-button
                    button.base-button.base-button--primary.ticket-select-button
                      span
                        = translations.buttonSelectText
                      .checkmark-wrapper
                        svg.checkmark(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 52 52")
                          circle.checkmark__circle(cx="26" cy="26" r="25" fill="none")
                          path.checkmark__check(fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8")
                .ticket-additional-info
                  .ticket-additional-info-inner
                    if data.dates.return
                      p.ticket-additional-info-title
                          = translations.destinationText + " - " + data.dates.departure  + ": "
                    .ticket-additional-info-curriculum
                      div
                        .ticket-place
                          svg(viewbox="0 0 512 512" xmlns="http://www.w3.org/2000/svg")
                            path(d="M64 496C64 504.8 56.75 512 48 512h-32C7.25 512 0 504.8 0 496V32c0-17.75 14.25-32 32-32s32 14.25 32 32V496zM476.3 0c-6.365 0-13.01 1.35-19.34 4.233c-45.69 20.86-79.56 27.94-107.8 27.94c-59.96 0-94.81-31.86-163.9-31.87C160.9 .3055 131.6 4.867 96 15.75v350.5c32-9.984 59.87-14.1 84.85-14.1c73.63 0 124.9 31.78 198.6 31.78c31.91 0 68.02-5.971 111.1-23.09C504.1 355.9 512 344.4 512 332.1V30.73C512 11.1 495.3 0 476.3 0z")
                          p
                            = translations.onboardingText + ": " + data.places.from.onBoardingPlace
                        .ticket-place
                          svg(viewbox="0 0 512 512" xmlns="http://www.w3.org/2000/svg")
                            path(d="M64 496C64 504.8 56.75 512 48 512h-32C7.25 512 0 504.8 0 496V32c0-17.75 14.25-32 32-32s32 14.25 32 32V496zM476.3 0c-6.365 0-13.01 1.35-19.34 4.233c-45.69 20.86-79.56 27.94-107.8 27.94c-59.96 0-94.81-31.86-163.9-31.87C160.9 .3055 131.6 4.867 96 15.75v350.5c32-9.984 59.87-14.1 84.85-14.1c73.63 0 124.9 31.78 198.6 31.78c31.91 0 68.02-5.971 111.1-23.09C504.1 355.9 512 344.4 512 332.1V30.73C512 11.1 495.3 0 476.3 0z")
                          p
                            = translations.outboardingText + ": " + data.places.from.outBoardingPlace
                      div
                        .ticket-time
                          svg(height="512" viewbox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg")
                            path(d="M256,48C141.13,48,48,141.13,48,256s93.13,208,208,208,208-93.13,208-208S370.87,48,256,48Zm96,240H256a16,16,0,0,1-16-16V128a16,16,0,0,1,32,0V256h80a16,16,0,0,1,0,32Z")
                          p
                            = translations.departureTimeText + ": " + data.places.from.onBoardingTime
                        .ticket-time
                          svg(height="512" viewbox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg")
                            path(d="M256,48C141.13,48,48,141.13,48,256s93.13,208,208,208,208-93.13,208-208S370.87,48,256,48Zm96,240H256a16,16,0,0,1-16-16V128a16,16,0,0,1,32,0V256h80a16,16,0,0,1,0,32Z")
                          p
                            = translations.arrivalTimeText + "**: " + data.places.from.outBoardingTime + "*"
                  .ticket-additional-info-inner.footnote
                    div
                      div
                        p
                          = "* - " + translations.additionalText + "."
                      div
                        p
                          = "** - " + translations.additionalText2 + "."
                span.ticket-open-arrow
                  svg(height="512px" style="enable-background:new 0 0 512 512;" version="1.1" viewbox="0 0 512 512" width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                    path(d="M98.9,184.7l1.8,2.1l136,156.5c4.6,5.3,11.5,8.6,19.2,8.6c7.7,0,14.6-3.4,19.2-8.6L411,187.1l2.3-2.6  c1.7-2.5,2.7-5.5,2.7-8.7c0-8.7-7.4-15.8-16.6-15.8v0H112.6v0c-9.2,0-16.6,7.1-16.6,15.8C96,179.1,97.1,182.2,98.9,184.7z")

