.list-container.list-container--top.list-container--bottom
  .ps
    .locations-container
        each country in data
            .locations-container__group(id=`autocomplete-group-${country.country.id}`)
                p.locations-container__group__title.title.title--3= country.country.CountryAttributes[0].name
                each city in country.cities
                    div.autocomplete-option(aria-label=`${city.CityAttributes[0].name}` role="option" id=`autocomplete-option-${city.id}`)
                        label.locations-container__location
                            strong.locations-container__location__name= city.CityAttributes[0].name
