.ticket-list-container
  h2.ticket-list-title
    = translations.ticketsTitle
  each data, ind in flightsData
    div(class=`ticket ${data.hasDiscount ? "discount": ""}` data-id=`${data.id}` data-start-date=`${data.dates.departurePure}` data-end-date=`${data.dates.returnPure}` data-origin-id=`${data.cities.from.id}` data-destination-id=`${data.cities.to.id}` class=`${ind === 0 ? "selected": ""}`)
      //- div= data.places.from.routeName + (data.places.to.routeName ? (" - " +  data.places.to.routeName) : "")
      if data.hasDiscount
        .ticket-sticker
          div
            .sticker-text
              = translations.discountText + " " + data.discountPercentage + " %"
      .ticket-inner
        .ticket-icon
          i.fas.fa-bus
        .ticket-details
          h2.ticket-title
            = data.dates.departure + (data.dates.return ? (" - " + data.dates.return) : "")
          .ticket-flight-info
            .ticket-origin
              svg(viewbox="0 0 384 512" xmlns="http://www.w3.org/2000/svg")
                path(d="M192 0C85.97 0 0 85.97 0 192c0 77.41 26.97 99.03 172.3 309.7c9.531 13.77 29.91 13.77 39.44 0C357 291 384 269.4 384 192C384 85.97 298 0 192 0zM192 271.1c-44.13 0-80-35.88-80-80S147.9 111.1 192 111.1s80 35.88 80 80S236.1 271.1 192 271.1z")
              p.ticket-subtitle
                span
                  = translations.fromText + ": " 
                span
                  = data.cities.from.name
            .flight-select__flight-info__icons
              svg.svg-icon.svg-fill.icon.icon__big-arrow.icon__big-arrow(viewbox="0 0 226 12")
                path(pid="0" fill="#999" d="m225.9 5.71-3.15-5.4a.57.57 0 0 0-.9-.15c-.31.15-.46.6-.16.75l2.71 4.5H.6A.65.65 0 0 0 0 6a.65.65 0 0 0 .6.6h223.65l-2.7 4.49c-.15.3-.15.6.15.75.15 0 .15.15.3.15a1.14 1.14 0 0 0 .6-.3l3.15-5.39a.37.37 0 0 0 .15-.6z")
              svg.svg-icon.svg-fill.icon.icon__plane.icon__plane(version="1.1" viewbox="0 0 512 512")
                g
                  path.st0(d="M436.3,125H99.9c-23,0-42.6,16.6-46.5,39.2L29.2,305.7c-4.9,28.8,17.3,55.1,46.5,55.1h17.8   c0-22.2,18-40.2,40.2-40.2c22.2,0,40.2,18,40.2,40.2h164.3c0-22.2,18-40.2,40.2-40.2c22.2,0,40.2,18,40.2,40.2h17.8   c26.1,0,47.2-21.1,47.2-47.2V172.2C483.5,146.1,462.4,125,436.3,125z M380.7,178.1c0-7,5.6-12.6,12.6-12.6h29.2   c7,0,12.6,5.7,12.6,12.6v62.9c0,7-5.7,12.6-12.6,12.6h-29.2c-7,0-12.6-5.7-12.6-12.6V178.1z M294.5,178.1c0-7,5.6-12.6,12.6-12.6   h29.2c7,0,12.6,5.7,12.6,12.6v62.9c0,7-5.7,12.6-12.6,12.6h-29.2c-7,0-12.6-5.7-12.6-12.6V178.1z M208.4,178.1   c0-7,5.7-12.6,12.6-12.6h29.2c7,0,12.6,5.7,12.6,12.6v62.9c0,7-5.7,12.6-12.6,12.6H221c-7,0-12.6-5.7-12.6-12.6V178.1z    M155.9,277.7c-2.9,17.2-19.1,29.9-38.1,29.9H75.7c-2.6,0-4.2-1.2-5.2-2.2c-0.9-1-1.9-2.7-1.5-5l24.3-129.8c0.6-3,3.4-5.2,6.6-5.2   h75.2L155.9,277.7z M435.2,301.6H208.4c-3.9,0-7-3.1-7-7c0-3.9,3.1-7,7-7h226.8c3.9,0,7,3.1,7,7C442.2,298.4,439,301.6,435.2,301.6   z")
                  path.st0(d="M133.7,334.6c-14.5,0-26.2,11.7-26.2,26.2s11.7,26.2,26.2,26.2c14.5,0,26.2-11.7,26.2-26.2   S148.1,334.6,133.7,334.6z")
                  path.st0(d="M378.3,334.6c-14.5,0-26.2,11.7-26.2,26.2s11.7,26.2,26.2,26.2c14.5,0,26.2-11.7,26.2-26.2   S392.8,334.6,378.3,334.6z")
            .ticket-destination
              svg(viewbox="0 0 576 512" xmlns="http://www.w3.org/2000/svg")
                path(d="M288 0C221.7 0 168 53.73 168 120c0 48.38 16.86 61.9 107.7 193.5c5.957 8.604 18.69 8.604 24.65 0C391.1 181.9 408 168.4 408 120C408 53.73 354.3 0 288 0zM288 176C261.5 176 240 154.5 240 128S261.5 80 288 80c26.48 0 48 21.53 48 48S314.5 176 288 176zM10.06 227.6C3.984 230 0 235.9 0 242.4v253.5c0 11.32 11.49 19.04 22 14.84L160 448V201.4C152.5 188.8 147.2 178 143.4 167.5L10.06 227.6zM326.6 331.8C317.9 344.4 303.4 352 288 352c-15.42 0-29.86-7.566-38.66-20.28C233.2 308.3 196.9 256.6 192 249.6V447.1L384 512V249.6C379.1 256.6 342.8 308.3 326.6 331.8zM554.1 161.2L416 224v288l149.9-67.59C572 441.1 576 436.1 576 429.6V176C576 164.7 564.6 156.1 554.1 161.2z")
              p.ticket-subtitle
                span
                  = translations.toText + ": "
                span
                  = data.cities.to.name
        .ticket-price
          .price-container
            if data.hasDiscount
              .price-box.price-box-full
                .price-text-box
                  svg(xmlns='http://www.w3.org/2000/svg' fill='none' height='512' viewbox='0 0 512 512' width='512')
                    path(d='M84.3599 127H62.9102C51.5297 127 40.6151 131.521 32.5679 139.568C24.5207 147.615 20 158.53 20 169.91V341.54C20 352.92 24.5207 363.835 32.5679 371.882C40.6151 379.929 51.5297 384.45 62.9102 384.45H84.3599C90.0497 384.45 95.5065 382.19 99.5308 378.168C103.555 374.146 105.817 368.69 105.82 363V353.58C105.066 353.384 104.342 353.085 103.67 352.69L97.2402 348.97C95.9336 348.219 94.8481 347.137 94.0933 345.832C93.3385 344.528 92.9409 343.047 92.9409 341.54C92.9409 340.033 93.3385 338.552 94.0933 337.248C94.8481 335.943 95.9336 334.861 97.2402 334.11L103.67 330.39C104.342 329.996 105.066 329.696 105.82 329.5V267.72C105.066 267.524 104.342 267.225 103.67 266.83L97.2402 263.12C95.9338 262.368 94.8483 261.284 94.0938 259.979C93.3392 258.674 92.9424 257.193 92.9424 255.685C92.9424 254.177 93.3392 252.696 94.0938 251.391C94.8483 250.086 95.9338 249.002 97.2402 248.25L103.67 244.54C104.344 244.147 105.067 243.844 105.82 243.64V181.94C105.066 181.744 104.342 181.445 103.67 181.05L97.2402 177.34C95.9338 176.588 94.8483 175.504 94.0938 174.199C93.3392 172.894 92.9424 171.413 92.9424 169.905C92.9424 168.397 93.3392 166.916 94.0938 165.611C94.8483 164.306 95.9338 163.222 97.2402 162.47L103.67 158.76C104.344 158.367 105.067 158.064 105.82 157.86V148.45C105.817 142.76 103.555 137.304 99.5308 133.282C95.5065 129.26 90.0497 127 84.3599 127Z')
                    path(d='M449.09 127H148.73C143.04 127 137.583 129.26 133.559 133.282C129.535 137.304 127.273 142.76 127.27 148.45V157.86C128.023 158.064 128.746 158.367 129.42 158.76L135.85 162.47C137.157 163.222 138.242 164.306 138.996 165.611C139.751 166.916 140.148 168.397 140.148 169.905C140.148 171.413 139.751 172.894 138.996 174.199C138.242 175.504 137.157 176.588 135.85 177.34L129.42 181.05C128.748 181.445 128.024 181.744 127.27 181.94V243.72C128.023 243.924 128.746 244.227 129.42 244.62L135.85 248.33C137.157 249.082 138.242 250.166 138.996 251.471C139.751 252.776 140.148 254.257 140.148 255.765C140.148 257.273 139.751 258.754 138.996 260.059C138.242 261.364 137.157 262.448 135.85 263.2L129.42 266.91C128.748 267.305 128.024 267.604 127.27 267.8V329.54C128.024 329.736 128.748 330.035 129.42 330.43L135.85 334.15C137.157 334.901 138.242 335.983 138.997 337.288C139.752 338.592 140.149 340.073 140.149 341.58C140.149 343.087 139.752 344.568 138.997 345.872C138.242 347.177 137.157 348.259 135.85 349.01L129.42 352.73C128.748 353.125 128.024 353.424 127.27 353.62V363.04C127.273 368.73 129.535 374.186 133.559 378.208C137.583 382.23 143.04 384.49 148.73 384.49H449.09C454.728 384.49 460.311 383.379 465.52 381.22C470.729 379.061 475.461 375.897 479.446 371.908C483.431 367.919 486.591 363.184 488.745 357.973C490.899 352.763 492.005 347.178 492 341.54V169.91C492 158.53 487.479 147.615 479.432 139.568C471.385 131.521 460.47 127 449.09 127ZM384.73 298.63C376.243 298.63 367.947 296.113 360.891 291.398C353.834 286.683 348.334 279.982 345.086 272.141C341.839 264.3 340.989 255.672 342.645 247.349C344.3 239.025 348.387 231.379 354.388 225.378C360.389 219.377 368.035 215.29 376.359 213.635C384.683 211.979 393.31 212.829 401.151 216.076C408.992 219.324 415.693 224.824 420.408 231.88C425.123 238.937 427.64 247.233 427.64 255.72C427.64 267.1 423.119 278.015 415.072 286.062C407.025 294.109 396.11 298.63 384.73 298.63Z')
                  span.ticket-price-text 
                    = translations.priceTextFull + ": "
                p.ticket-old-price
                  = data.priceFull
            .price-box
              .price-text-box
                svg(style="enable-background:new 0 0 32 32;" version="1.1" viewbox="0 0 32 32" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                  path(d="M29.5,13.4c0.3-0.2,0.5-0.5,0.5-0.9V10c0-1.1-0.9-2-2-2h-6.3c-0.4,0-0.7,0.2-0.9,0.5c-0.4,0.6-1.3,0.6-1.7,0  C19,8.2,18.6,8,18.3,8H4c-1.1,0-2,0.9-2,2v2.6c0,0.4,0.2,0.7,0.5,0.9C3.4,14,4,14.9,4,16s-0.6,2-1.5,2.6C2.2,18.8,2,19.1,2,19.4V22  c0,1.1,0.9,2,2,2h14.3c0.4,0,0.7-0.2,0.9-0.5c0.4-0.6,1.3-0.6,1.7,0c0.2,0.3,0.5,0.5,0.9,0.5H28c1.1,0,2-0.9,2-2v-2.6  c0-0.4-0.2-0.7-0.5-0.9C28.6,18,28,17.1,28,16S28.6,14,29.5,13.4z M12,19.9L12,19.9c0,0.6-0.4,1.1-1,1.1s-1-0.4-1-1  c-0.6,0-1-0.4-1-1s0.4-1,1-1h1.5c0.3,0,0.5-0.2,0.5-0.5S11.8,17,11.5,17h-1C9.1,17,8,15.9,8,14.5c0-1.2,0.9-2.2,2-2.4V12  c0-0.6,0.4-1,1-1s1,0.4,1,1c0.6,0,1,0.4,1,1s-0.4,1-1,1h-1.5c-0.3,0-0.5,0.2-0.5,0.5s0.2,0.5,0.5,0.5h1c1.4,0,2.5,1.1,2.5,2.5  C14,18.7,13.1,19.7,12,19.9z M21,19c0,0.6-0.4,1-1,1s-1-0.4-1-1v-1c0-0.6,0.4-1,1-1s1,0.4,1,1V19z M21,14c0,0.6-0.4,1-1,1  s-1-0.4-1-1v-1c0-0.6,0.4-1,1-1s1,0.4,1,1V14z")  
                span.ticket-price-text 
                  = translations.priceText + ": "
              p.ticket-current-price
                = data.price
        .ticket-button
          button.base-button.base-button--primary.ticket-select-button
            span
              = translations.buttonSelectText
            .checkmark-wrapper
              svg.checkmark(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 52 52")
                circle.checkmark__circle(cx="26" cy="26" r="25" fill="none")
                path.checkmark__check(fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8")
      .ticket-additional-info
        .ticket-additional-info-inner
          if data.dates.return
            p.ticket-additional-info-title
                = translations.destinationText + " - " + data.dates.departure  + ": "
          .ticket-additional-info-curriculum
            div
              .ticket-place
                svg(viewbox="0 0 512 512" xmlns="http://www.w3.org/2000/svg")
                  path(d="M64 496C64 504.8 56.75 512 48 512h-32C7.25 512 0 504.8 0 496V32c0-17.75 14.25-32 32-32s32 14.25 32 32V496zM476.3 0c-6.365 0-13.01 1.35-19.34 4.233c-45.69 20.86-79.56 27.94-107.8 27.94c-59.96 0-94.81-31.86-163.9-31.87C160.9 .3055 131.6 4.867 96 15.75v350.5c32-9.984 59.87-14.1 84.85-14.1c73.63 0 124.9 31.78 198.6 31.78c31.91 0 68.02-5.971 111.1-23.09C504.1 355.9 512 344.4 512 332.1V30.73C512 11.1 495.3 0 476.3 0z")
                p
                  = translations.onboardingText + ": " + data.places.from.onBoardingPlace
              .ticket-place
                svg(viewbox="0 0 512 512" xmlns="http://www.w3.org/2000/svg")
                  path(d="M64 496C64 504.8 56.75 512 48 512h-32C7.25 512 0 504.8 0 496V32c0-17.75 14.25-32 32-32s32 14.25 32 32V496zM476.3 0c-6.365 0-13.01 1.35-19.34 4.233c-45.69 20.86-79.56 27.94-107.8 27.94c-59.96 0-94.81-31.86-163.9-31.87C160.9 .3055 131.6 4.867 96 15.75v350.5c32-9.984 59.87-14.1 84.85-14.1c73.63 0 124.9 31.78 198.6 31.78c31.91 0 68.02-5.971 111.1-23.09C504.1 355.9 512 344.4 512 332.1V30.73C512 11.1 495.3 0 476.3 0z")
                p
                  = translations.outboardingText + ": " + data.places.from.outBoardingPlace
            div
              .ticket-time
                svg(height="512" viewbox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg")
                  path(d="M256,48C141.13,48,48,141.13,48,256s93.13,208,208,208,208-93.13,208-208S370.87,48,256,48Zm96,240H256a16,16,0,0,1-16-16V128a16,16,0,0,1,32,0V256h80a16,16,0,0,1,0,32Z")
                p
                  = translations.departureTimeText + ": " + data.places.from.onBoardingTime
              .ticket-time
                svg(height="512" viewbox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg")
                  path(d="M256,48C141.13,48,48,141.13,48,256s93.13,208,208,208,208-93.13,208-208S370.87,48,256,48Zm96,240H256a16,16,0,0,1-16-16V128a16,16,0,0,1,32,0V256h80a16,16,0,0,1,0,32Z")
                p
                  = translations.arrivalTimeText + "**: " + data.places.from.outBoardingTime + "*"
        if data.dates.return
          .ticket-additional-info-inner
            p.ticket-additional-info-title
                = translations.returnText + " - " + data.dates.return + ": "
            .ticket-additional-info-curriculum
              div
                .ticket-place
                  svg(viewbox="0 0 512 512" xmlns="http://www.w3.org/2000/svg")
                    path(d="M64 496C64 504.8 56.75 512 48 512h-32C7.25 512 0 504.8 0 496V32c0-17.75 14.25-32 32-32s32 14.25 32 32V496zM476.3 0c-6.365 0-13.01 1.35-19.34 4.233c-45.69 20.86-79.56 27.94-107.8 27.94c-59.96 0-94.81-31.86-163.9-31.87C160.9 .3055 131.6 4.867 96 15.75v350.5c32-9.984 59.87-14.1 84.85-14.1c73.63 0 124.9 31.78 198.6 31.78c31.91 0 68.02-5.971 111.1-23.09C504.1 355.9 512 344.4 512 332.1V30.73C512 11.1 495.3 0 476.3 0z")
                  p
                    = translations.onboardingText + ": " + data.places.to.onBoardingPlace
                .ticket-place
                  svg(viewbox="0 0 512 512" xmlns="http://www.w3.org/2000/svg")
                    path(d="M64 496C64 504.8 56.75 512 48 512h-32C7.25 512 0 504.8 0 496V32c0-17.75 14.25-32 32-32s32 14.25 32 32V496zM476.3 0c-6.365 0-13.01 1.35-19.34 4.233c-45.69 20.86-79.56 27.94-107.8 27.94c-59.96 0-94.81-31.86-163.9-31.87C160.9 .3055 131.6 4.867 96 15.75v350.5c32-9.984 59.87-14.1 84.85-14.1c73.63 0 124.9 31.78 198.6 31.78c31.91 0 68.02-5.971 111.1-23.09C504.1 355.9 512 344.4 512 332.1V30.73C512 11.1 495.3 0 476.3 0z")
                  p
                    = translations.outboardingText + ": " + data.places.to.outBoardingPlace
              div
                .ticket-time
                  svg(height="512" viewbox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg")
                    path(d="M256,48C141.13,48,48,141.13,48,256s93.13,208,208,208,208-93.13,208-208S370.87,48,256,48Zm96,240H256a16,16,0,0,1-16-16V128a16,16,0,0,1,32,0V256h80a16,16,0,0,1,0,32Z")
                  p
                    = translations.departureTimeText + ": " + data.places.to.onBoardingTime
                .ticket-time
                  svg(height="512" viewbox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg")
                    path(d="M256,48C141.13,48,48,141.13,48,256s93.13,208,208,208,208-93.13,208-208S370.87,48,256,48Zm96,240H256a16,16,0,0,1-16-16V128a16,16,0,0,1,32,0V256h80a16,16,0,0,1,0,32Z")
                  p
                    = translations.arrivalTimeText + "**: " + data.places.to.outBoardingTime + "*"
        .ticket-additional-info-inner.footnote
          div
            div
              p
                = "* - " + translations.additionalText + "."
            div
              p
                = "** - " + translations.additionalText2 + "."
        if data.hasDiscount
          .ticket-additional-info-inner.terms-of-use
            - const termsOfUseSaleTicketTexts = Object.values(translations.termsOfUseSaleTicketText);
              div
                p 
                  = translations.attentionText
                each text, i in termsOfUseSaleTicketTexts
                  div
                    p
                      = (i + 1) + ". " + text
        else if data.type === "open-date"
          .ticket-additional-info-inner.terms-of-use
            - const termsOfUseOpenDateTicketTexts = Object.values(translations.termsOfUseOpenDateTicketText);
              div
                p 
                  = translations.attentionText
                each text, i in termsOfUseOpenDateTicketTexts
                  div
                    p
                      = (i + 1) + ". " + text
      span.ticket-open-arrow
        svg(height="512px" style="enable-background:new 0 0 512 512;" version="1.1" viewbox="0 0 512 512" width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
          path(d="M98.9,184.7l1.8,2.1l136,156.5c4.6,5.3,11.5,8.6,19.2,8.6c7.7,0,14.6-3.4,19.2-8.6L411,187.1l2.3-2.6  c1.7-2.5,2.7-5.5,2.7-8.7c0-8.7-7.4-15.8-16.6-15.8v0H112.6v0c-9.2,0-16.6,7.1-16.6,15.8C96,179.1,97.1,182.2,98.9,184.7z")
